body {
    background-color: #FA9884;
}
h1, h2, h3 {
    text-align: center;

    color: #E74646;
}

p {
    color: #FFE5CA;
    text-align: center;
}
ul, ol{
    color: #FFE5CA;
}
i{
    color: rgb(166, 0, 0);
}
div{
    background-color: #D21312;
}
table, th, td {
    border: 1px solid;
    text-align: center;
}
pre code {
    background-color: white;
    border: 1px solid;
    display: block;
    padding: 2px;
}
.current-page{
    color: #FFF3E2;
}
#favorite-movie{
    color: black;
}
#favorite-restaurant{
    color: black;
}
#favorite-artist{
    color: black;
}
#years-skyzone {
    background-color: #D21312;
}